.EditNote-form {
    padding-bottom: 16px;
    max-width: 332px;
}
  
.EditNote-label {
    display: block;
    font-size: 16px;
    padding-bottom: 8px;
}
  
.EditNote-input {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 8px;
    font-family: sans-serif;
  }

.EditNote-textarea {
  font-size: 14px;
  width: 500px;
  font-family: sans-serif;
  margin-bottom: 15px;
}
  
.EditNote-button {
    background-color: #a5a58d;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
  }

  .EditNote-h2 {
    margin-bottom: 24px;
    font-size: 20px;
}

  button:hover {
    background-color: #b7b7a4;
  }
