.App {
  font-family: sans-serif;
  margin-left: 25px;
  grid-template-areas: inherit;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: royalblue
}

ul {
  list-style: none;
}

.Sidebar li {
  padding-bottom: 5px;
}

