.App {
  font-family: sans-serif;
  margin-left: 25px;
}

h1 {
  text-align: center;
}

.Group {
  display: flex;
  flex-direction: row;
}

.Item-double {
  margin-left: 50px;
}

.Sidebar ul {
  list-style: none;
  padding: 5px;
}

.Sidebar li {
  padding-bottom: 5px;
}